@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "GeistSans", sans-serif;
  --font-geist-mono: "GeistMono", monospace;
  --font-outfit: "Outfit", sans-serif;
}

body {
  font-family: var(--font-outfit);
}


.cursor-pointer:hover .hidden {
  display: flex;
}

.transition-max-height {
  transition: max-height 0.3s ease-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(97%);
      opacity: 0.7;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.overflow-y-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes pop {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.3);
  }
  100% {
      transform: scale(1);
  }
}
.animate-pop {
  animation: pop 0.3s ease-in-out;
}

@keyframes Slide {
  0%{
    transform: translateX(70%);
  }
  100%{
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: Slide 0.4s ease-in-out;
}

.animate-slide::-webkit-scrollbar {
  display: none;
}
